body {
  font-family: 'Playfair Display';
}

  header {
    background-image: url("../../GitHub/To-Do-List/images/header.jpg");
    background-size: cover;
    height: 300px;
  }

  #title {
    padding: 210px 260px;
   /*  font-style: italic; */
    font-weight: 400;
  }

  .delete {

    margin-right: 5px;
  
  }