body {
  font-family: 'Playfair Display';
}

  header {
    background-image: url("../../GitHub/To-Do-List/images/header.jpg");
    background-size: cover;
    height: 300px;
  }

  #title {
    padding: 210px 260px;
   /*  font-style: italic; */
    font-weight: 400;
  }

  .delete {

    margin-right: 5px;
  
  }

  #input-task {
    background-color:rgba(206, 136, 146, 0.200);
    border: 10px;
    font-size: 20px;
    border-radius: 5px;
    border-style: none;
  }

  #new-todo {
    font-size: 20px;
  }

 
  .btn-danger {
    float:right;
    height: max-content;
    font-size: 10px;
  }