body {
  font-family: 'Playfair Display';
  color: #383838;
  
}

  header {
    background-image: url("../../GitHub/To-Do-List/images/header.jpg");
    background-size: cover;
    height: 300px;
  }

  #title {
    font-weight: 400;
    padding-left: 50px;
    padding-top: 200px;
  }


  #input-task {
    color: #808080;
    background-color:rgba(206, 136, 146, 0.200);
    padding-left: 10px;
    border: 10px;
    font-size: 20px;
    border-radius: 5px;
    border-style: none;
    
  }


 
  .btn {
    height: fit-content;
    font-size: 10px;
  }

  ::placeholder {
    font-style: italic;
  }

  ::placeholder:active {
    border-color: rgb(129, 129, 129);
  }
#check-complete {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05);
	padding: 9px;
  display: inline-block;
	position: relative;
	border-radius: 3px;
  height: fit-content;
  margin-top: 2px;
}

#check-complete:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

#check-complete:checked {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	color: #99a1a7;
}

#check-complete:checked:after {
	content: '\2714';
	font-size: 14px;
	color: #99a1a7;
  position: absolute;
  top: 0px;
  left: 4px;
}

.filter-buttons {
  color: rgb(100, 138, 79);
  font-weight: 600;
  font-size: 10px;
  margin-right: 50px;
}

#complete-btn, #active-btn {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgb(0 0 0 / 5%);
  padding: 4px;
  display: inline-block;
  position: relative;
  border-radius: 3px;
  margin-top: 2px;
}


#complete-btn:active, #active-btn:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

#complete-btn:checked, #active-btn:checked {
	background-color: rgb(100, 138, 79);
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	color: #99a1a7;
}

#complete-btn:checked:after, #active-btn:checked:after {
	color: hsl(0, 51%, 50%);
  position: absolute;
}